.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.card .header {
    display: flex;
    justify-content: center;
}

.card .header .title {
    flex: 1;
    padding: 5px;
}

.card .content {
    padding: 20px;
}

.card.red .header {
    color: #fff;
    background-color: #c62828;
}

.card.red .content {
    background-color: #f44366;
}

.card.blue .header {
    color: #fff;
    background-color: #1765c0;
}

.card.blue .content {
    background-color: #2196f3;
}

.card.green .header {
    color: #fff;
    background-color: #2e7d32;
}

.card.green .content {
    background-color: #4caf50;
}

.card.purple .header {
    color: #fff;
    background-color: #9c27b0;
}

.card.purple .content {
    background-color: #9c2790;
}